<div ng-controller="ConferenceDetailCtrl">
    <status></status>
    <div class="row" ng-init="init()">
        <div class="col-md-9">
            <div class="well well-sm">
                <h2>{{conference.name}}</h2>
                <h5>{{conference.description}}</h5>
                <div>
                    <label for="registered">Registered/Open: </label>
                    <span id="registered">{{conference.maxAttendees - conference.seatsAvailable}} / {{conference.maxAttendees}}</span>
                </div>
                <div>
                    <label for="organizer">Organizer: </label>
                    <span id="organizer">{{conference.organizerDisplayName}}</span>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a class="btn btn-primary" href="#/conference/{{conference.websafeConferenceKey}}/session/create">Create Session</a>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" ng-click="removeConference()">Delete Conference</button>
                    </div>
                    <div class="col-md-3" ng-if="!isUserAttending">
                        <a class="btn btn-primary"ng-click="registerForConference()" ng-disabled="loading">Register</a>
                    </div>
                    <div class="col-md-3" ng-if="isUserAttending">
                        <a class="btn btn-primary" ng-click="unregisterFromConference()" ng-disabled="loading">Unregister</a>
                    </div>
                </div>
            </div>

            <form class="form" novalidate role="form">
                <fieldset>
                    <div>
                        <label for="city">City: </label>
                        <span id="city">{{conference.city}}</span>
                    </div>
                    <div>
                        <label for="topics">Topics: </label>
                        <span id="topics">
                            <span ng-repeat="topic in conference.topics" class="label label-primary label-separated">{{topic}}</span>
                        </span>
                    </div>
                    <div>
                        <label for="startDate">Start Date: </label>
                        <span id="startDate">{{conference.startDate | date:'dd-MMMM-yyyy'}}</span>
                    </div>
                    <div>
                        <label for="endDate">End Date: </label>
                        <span id="endDate">{{conference.endDate | date:'dd-MMMM-yyyy'}}</span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-8">

            <div class="table-responsive" ng-show="sessions.length > 0">
                <table id="session-table" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Details</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Speaker</th>
                        <th>Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="session in sessions | startFrom: pagination.currentPage * pagination.pageSize | limitTo: pagination.pageSize">
                        <td><a href="#/session/{{session.websafeSessionKey}}">Details</a></td>
                        <td>{{session.name}}</td>
                        <td>{{session.typeOfSession | lowercase}}</td>
                        <td>{{session.date | date:'dd-MMMM-yyyy'}}</td>
                        <td>{{session.speakerDisplayName}}</td>
                        <td>{{session.duration}} mins</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <ul class="pagination" ng-show="sessions.length > 0">
                <li ng-class="{disabled: pagination.currentPage == 0 }">
                    <a ng-class="{disabled: pagination.currentPage == 0 }"
                       ng-click="pagination.isDisabled($event) || (pagination.currentPage = 0)">&lt&lt</a>
                </li>
                <li ng-class="{disabled: pagination.currentPage == 0 }">
                    <a ng-class="{disabled: pagination.currentPage == 0 }"
                       ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage - 1)">&lt</a>
                </li>

                <!-- ng-repeat creates a new scope. Need to specify the pagination.currentPage as $parent.pagination.currentPage -->
                <li ng-repeat="page in pagination.pageArray()" ng-class="{active: $parent.pagination.currentPage == page}">
                    <a ng-click="$parent.pagination.currentPage = page">{{page + 1}}</a>
                </li>

                <li ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
                    <a ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
                       ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage + 1)">&gt</a>
                </li>
                <li ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
                    <a ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
                       ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.numberOfPages() - 1)">&gt&gt</a>
                </li>
            </ul>
        </div>
        <div  class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation">
            <form class="form-horizontal" name="filterForm" novalidate role="form">
                <div class="form-group-condensed">
                    <label for="speaker" class="form-control-static">Speaker:</label>
                    <select id="speaker" class="form-control-sm" ng-model="filter.speaker" ng-change="addFilter('SPEAKER')" name="speaker"
                            ng-options="speaker.websafeSpeakerKey as speaker.displayName for speaker in speakers"
                            class="form-control">
                    </select>
                </div>

                <div class="form-group-condensed">
                    <label for="type" class="form-group-static">Type:</label>
                    <select id="type" class="form-group-sm" ng-model="filter.type" ng-change="addFilter('TYPE')" name="type"
                            ng-options="type as (type | lowercase) for type in ctrlConferenceDetail.SessionTypes"
                            class="form-control">
                    </select>
                </div>
                
                <div class="form-group-condensed">
                    <label for="early" class="form-group-static">Early Non-Workshops</label>
                    <input id="early" class="form-group-sm" type="checkbox" ng-model="filter.early" ng-change="addFilter('EARLY')" name="early" 
                            class="form-control">
                    
                </div>
            </form>

            <button ng-click="querySessions();" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> Search
            </button>
            <button ng-click="clearFilters()" class="btn btn-primary">Clear</button>
        </div>
    </div>
</div>

