<div ng-controller="CreateSpeakerCtrl">
    <status></status>
    <div class="row">
        <div class="col-md-8">
            <h3>Create a new speaker</h3>

            <form name="speakerForm" novalidate role="form">
                <div class="form-group">
                    <label for="name">Name <span class="required">*</span></label>
                    <span class="label label-danger"
                        ng-show="speakerForm.displayName.$error.required">Required!</span>
                    <input id="name" type="text" name="name" ng-model="speaker.displayName" class="form-control"
                           ng-required="true"/>
                </div>

                <div class="form-group">
                    <label for="email">Email <span class="required">*</span></label>
                    <span class="label label-danger"
                        ng-show="speakerForm.mainEmail.$error.required">Required!</span>
                    <input id="name" type="text" name="email" ng-model="speaker.mainEmail" class="form-control"
                           ng-required="true"/>
                </div>

                <button ng-click="createSpeaker(speakerForm)" class="btn btn-primary"
                        ng-disabled="speakerForm.$invalid || loading">Create
                </button>
            </form>
        </div>
    </div>
</div>