<div ng-controller="SessionDetailCtrl">
    <status></status>
    <div class="row" ng-init="init()">
        <div class="col-md-9">
            <div class="well well-sm">
                <h2>{{session.name}}</h2>
                <h5>{{session.highlights}}</h5>
                <div>
                    <label for="speaker">Speaker: </label>
                    <span id="speaker">{{session.speakerDisplayName}}</span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-primary" ng-click="deleteConferenceSession()">Delete Session</button>
                    </div>
                    <div class="col-md-4" ng-if="!isInWishlist">
                        <button class="btn btn-primary"ng-click="addToWishlist()">Add to Wishlist</button>
                    </div>
                    <div class="col-md-4" ng-if="isInWishlist">
                        <button class="btn btn-primary" ng-click="deleteSessionInWishlist()">Remove from Wishlist</button>
                    </div>
                </div>
            </div>

            <form class="form" novalidate role="form">
                <fieldset>
                    <div>
                        <label for="duration">Duration: </label>
                        <span id="duration">{{session.duration}} mins</span>
                    </div>
                    <div>
                        <label for="types">Type: </label>
                        <span id="type">{{session.typeOfSession | lowercase }}</span>
                    </div>
                    <div>
                        <label for="speaker">Speaker</label>
                        <span id="speaker">{{session.speakerDisplayName}}</span>
                    </div>                    
                    <div>
                        <label for="date">Date: </label>
                        <span id="date">{{session.date | date:'dd-MMMM-yyyy'}}</span>
                    </div>
                    <div>
                        <label for="startTime">Start Time: </label>
                        <span id="startTime">{{session.startTime}}</span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
