<div ng-controller="SpeakerDetailCtrl">
    <status></status>

    <div class="row" ng-init="init()">
        <div class="col-md-9">
            <div class="well well-sm">
                <h2>{{speaker.displayName}}</h2>
                <p ng-if="summary">{{summary}}</p>
                <div>
                    <label for="email">Email: </label>
                    <span id="email">{{speaker.mainEmail}}</span>
                </div>
                <p>
                    <button class="btn btn-primary" ng-click="removeSpeaker()">Delete Speaker</button>
                </p>
            </div>
            <form class="form" novalidate role="form">
                <fieldset>
                    <div ng-repeat="session in speaker.sessions | startFrom: pagination.currentPage * pagination.pageSize | limitTo: pagination.pageSize">
                        <div>
                            <a href="#/session/{{session.websafeSessionKey}}">Details</a>
                        </div>
                        <div>
                            <label for="name{{$index}}">Name: </label>
                            <span id="name{{$index}}">{{session.name}}</span>
                        </div>
                        <div>
                            <label for="type{{$index}}">Type: </label>
                            <span id="type{{$index}}">{{session.typeOfSession | lowercase}}</span>
                        </div>
                        <div>
                            <label for="date{{$index}}">Date: </label>
                            <span id="date{{$index}}">{{session.date | date:'dd-MMMM-yyyy'}}</span>
                        </div>
                        <div>
                            <label for="duration{{$index}}">Duration: </label>
                            <span id="duration{{$index}}">{{session.duration}}</span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
